{% macro zytopbar() -%}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="/static/css/tailwind.min.css" rel="stylesheet">
    <link href="/static/css/header.css" rel="stylesheet">

    <div class="loader" id="loader"></div>
    <header class="bg-blue-500 shadow-lg">
        <div class="container mx-auto flex justify-between items-center py-6">
            <h1 class="text-2xl font-bold text-gray-800" onclick="window.location.href = '/'"><img
                    src="/static/favicon.ico" style="height: 32px" alt=""></h1>
            <nav>
                <ul class="flex space-x-6">
                    <li>
                        <div class="dropdown">
                            <button class="text-white hover:bg-blue-600 px-4 py-2">🔻我的</button>
                            <div class="dropdown-content">
                                <a href="/profile">个人中心</a>
                                <a href="/setting/profiles">设置</a>
                                <a href="/media">媒体</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="text-white hover:bg-blue-600 px-4 py-2">🔻更多</button>
                            <div class="dropdown-content">
                                <a href="/register">注册</a>
                                <a href="/links">友链</a>
                                <a href="/changelog">更新日志</a>
                                <a href="/guestbook">留言</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <button id="theme-toggle"
                                class="text-white px-4 py-2 rounded hover:bg-blue-600 focus:outline-none">
                            🌙
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("loader").style.display = "none";
        });
        window.addEventListener('contextmenu', function (e) {
            e.preventDefault();
        }, false);
    </script>

    <div class="fixed bottom-4 right-4">

    </div>

    <ul class="menu">
        <li id="home">主页</li>
        <li id="refresh">刷新</li>
        <li id="search">搜索</li>
        <li id="travel">随机文章</li>
        <li id="guestbook">留言板</li>
    </ul>

    <script>
        // 获取菜单项
        const home = document.getElementById('home');
        const search = document.getElementById('search');
        const refresh = document.getElementById('refresh');
        const travel = document.getElementById('travel');
        const guestbook = document.getElementById('guestbook');

        guestbook.addEventListener('click', function () {
            window.location.href = '/guestbook';
        });

        travel.addEventListener('click', function () {
            window.location.href = '/travel';
        });

        home.addEventListener('click', function () {
            console.log('执行主页功能');
            window.location.href = '/';
        });

        search.addEventListener('click', function () {
            console.log('执行搜索功能');
            window.location.href = '/search';
        });

        refresh.addEventListener('click', function () {
            console.log('执行刷新功能');
            // 在这里添加刷新页面的相关功能
            location.reload(); // 刷新页面
        });

        document.addEventListener("DOMContentLoaded", function () {
            const button = document.getElementById('theme-toggle');

            const currentTheme = localStorage.getItem('theme');
            let isDark = currentTheme === 'dark';

            document.body.setAttribute('data-theme', isDark ? 'dark' : 'light');
            button.textContent = isDark ? '☀' : '🌙';

            button.addEventListener('click', () => {
                isDark = !isDark;

                document.body.setAttribute('data-theme', isDark ? 'dark' : 'light');
                button.textContent = isDark ? '☀' : '🌙';

                localStorage.setItem('theme', isDark ? 'dark' : 'light');
            });
        });

        // 菜单
        const menu = document.querySelector('.menu');

        // 绑定右键事件
        document.addEventListener('contextmenu', function (e) {
            // 取消默认的浏览器自带右键
            e.preventDefault();
            // 窗口宽高
            let winWidth = window.innerWidth;
            let winHeight = window.innerHeight;
            // 鼠标点击的位置
            let posX = e.pageX;
            let posY = e.pageY;
            // 菜单宽高
            let menuWidth = menu.getBoundingClientRect().width;
            let menuHeight = menu.getBoundingClientRect().height;
            // 菜单要显示的位置
            let posLeft = 0, posTop = 0;
            // 菜单显示时可能遇到的几种情况：
            // 右边和底部同时超出
            if (posX + menuWidth >= winWidth && posY + menuHeight >= winHeight) {
                posLeft = posX - menuWidth;
                posTop = posY - menuHeight;
            }
            // 右侧超出
            else if (posX + menuWidth >= winWidth) {
                posLeft = posX - menuWidth;
                posTop = posY;
            }
            // 底部超出
            else if (posY + menuHeight >= winHeight) {
                posLeft = posX;
                posTop = posY - menuHeight;
            }
            // 默认情况，都不超出
            else {
                posLeft = posX;
                posTop = posY;
            }
            // 设置菜单的位置并显示
            menu.style.left = posLeft + 'px';
            menu.style.top = posTop + 'px';
            menu.style.opacity = 1;
            menu.style.zIndex = 99;
        })

        // 最后，加个单击其他地方关闭菜单
        document.addEventListener('click', function () {
            menu.style.opacity = 0;
            menu.style.zIndex = -1;
        })
    </script>
{% endmacro %}
{% macro SimpleHeader(SiteName) -%}
    <style>
        body {
            font-family: 'Arial', sans-serif;
            padding-top: 64px; /* 确保内容不被固定的导航栏遮挡 */
        }
    </style>
    <div class="fixed top-0 w-full bg-gray-100 shadow-md z-50">
        <div class="container mx-auto flex justify-between items-center p-4">
            <div class="text-red-600 font-bold text-xl" onclick="window.location.href = '/'">{{ SiteName }}</div>
            <div class="space-x-4">
                <a href="/featured" class="text-gray-700 hover:text-red-600">推荐</a>
                <a href="/search" class="text-gray-700 hover:text-red-600">搜索</a>
                <a href="/media" class="text-gray-700 hover:text-red-600">媒体</a>
                <a href="/profile" class="text-gray-700 hover:text-red-600">我的</a>
            </div>
        </div>
    </div>
{% endmacro %}