{% extends 'dashboard/dashboard-base.html' %}

{% block content %}
    <h1 class="text-2xl font-bold mb-5">管理短链接</h1>
    <div class="overflow-x-auto">
        <table class="min-w-full table-light" style="table-layout: fixed;">
            <thead class="bg-gray-200">
            <tr>
                <th class="py-2 px-4 border">短链接ID</th>
                <th class="py-2 px-4 border">长链接</th>
                <th class="py-2 px-4 border">短链接</th>
                <th class="py-2 px-4 border">创建时间</th>
                <th class="py-2 px-4 border">创建者用户名</th>
                <th class="py-2 px-4 border">操作</th>
            </tr>
            </thead>
            <tbody>
            {% for url in urls %}
                <tr class="border-b hover:bg-gray-100">
                    <td class="py-2 px-4">{{ url['id'] }}</td>
                    <td class="py-2 px-4"
                        style="max-width: 255px;overflow: hidden;text-overflow: ellipsis;">
                        {{ url['long_url'] }}
                    </td>
                    <td class="py-2 px-4">{{ url['short_url'] }}</td>
                    <td class="py-2 px-4" style="max-width: 100px;">{{ url['created_at'] }}</td>
                    <td class="py-2 px-4">{{ url['username'] }}</td>
                    <td class="py-2 px-4">
                        <a href="#" class="text-blue-500 hover:underline"
                           onclick="copyAndAlert('{{ domain }}s/{{ url['short_url'] }}')">复制</a> |
                        <a href="#" class="text-red-500 hover:underline" onclick="deleteUrl({{ url['id'] }})">删除</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        function deleteUrl(UrlId) {
            if (confirm("您确定要移除这条短链吗？")) {
                fetch(`/dashboard/urls?id=${UrlId}`, {
                    method: 'DELETE',
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('网络响应不正常');
                        }
                        return response.json();
                    })
                    .then(data => {
                        alert(data.message);
                        location.reload();
                    })
                    .catch(error => {
                        alert("删除失败: " + error.message);
                    });
            }
        }

        function copyAndAlert(text) {
            navigator.clipboard.writeText(text).then(function () {
                alert("已复制" + text);
            }).catch(function (error) {
                alert("复制失败：" + error);
            });
        }
    </script>
{% endblock %}